  .home_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1024px;
  }
  
  .home_container .right {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    cursor: pointer;
  }
  
  .icon {
      margin-top: 5px;
  }
  
  .home_container .right button {
      gap: 10px;
      padding: 5px 10px;
      display: flex;
      text-align: center;
      justify-content: space-between;
      align-items: center;
      border: none;
      border-radius: 10px;
      color: rgba(255, 0, 0, 0.555);
  }
  
  .home_container .right button p {
      font-size: 15px;
      color: #555;
  }
  
  .home_container .right button:hover p{
      color: red;
      cursor: pointer;
  }
  
  .icon:hover {
      color: red;
  }