.icon {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  border: 0;
  border-radius: 50%;
}

.icon-absolute {
  position: absolute;
}

.icon-remove::before,
.icon-remove::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 10px;
  left: 7px;
  top: 3px;
  background-color: var(--color-white);
}

.icon-remove::before {
  transform: rotate(45deg);
}

.icon-remove::after {
  transform: rotate(-45deg);
}

.icon-add::before,
.icon-add::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 10px;
  left: 7px;
  top: 3px;
  background-color: var(--color-white);
}

.icon-add::after {
  transform: rotate(-90deg);
}
