.block {
  display: block;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.w-auto {
  width: auto !important;
}

.w-100 {
  width: 100% !important;
}

.w-75 {
  width: 75%;
}

.w-70 {
  width: 70%;
}

.w-50 {
  width: 50%;
}

.w-55 {
  width: 55%;
}

.w-45 {
  width: 45%;
}

.w-60 {
  width: 60%;
}

.w-40 {
  width: 40%;
}

.w-48 {
  width: 48%;
}

.w-30 {
  width: 30%;
}

.w-25 {
  width: 25%;
}

.w-17 {
  width: 17%;
}

.w-18 {
  width: 18%;
}

.w-10 {
  width: 10%;
}

.w-5 {
  width: 5%;
}

.row {
  position: relative;
  border: 1px solid var(--color-theme-light);
  border-top: none;
}

.row__remove {
  display: flex;
  padding: 0;
  position: absolute;
  top: 10px;
  right: -20px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

}
.row__remove .row:hover,
.row__remove .row:focus-within {
  opacity: 1;
}

.bd-t {
  border-top: 1px solid var(--color-theme-dark);
}