.mt-40 {
  margin-top: 50px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-60 {
  margin-left: 60px;
}

.p-4-8 {
  padding: 4px 8px;
}

.p-5 {
  padding: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}
