@import 'variables';
@import 'color';
@import 'layout';
@import 'typography';
@import 'spacing';
@import 'text';
@import 'icons';
@import 'app';

@page {
  margin: 9.3mm 9.3mm 9.3mm 9.3mm;
}

@media print {
  body {
    margin: 0mm 0mm 0mm 0mm;
  }
  body * {
    visibility: hidden;
    margin: 0;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
    box-shadow: none;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;

    .donot-print {
      display: none;
    }
  }

  textarea {
    resize: none;
  }

  .bg-theme-dark {
    background-color: #6539C0;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: transparent;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}